@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  max-width: 100%;
  display: flex;
  flex-direction: column;
  font-family: 'Lato', sans-serif;
}

ul {
  padding-right: 5rem;
}

li {
  list-style: none;
}

.navlinks li {
  cursor: pointer;
}

.navbar {
  display: flex;
  width: 100%;
  margin: 20px;
  font-size: 23px;
  justify-content: space-between;
}

.navlinks {
  display: flex;
  flex-direction: row;
}

.navitems {
  margin: 15px;
}

.footer {
  width: 95%;
  border: 4px solid rgb(84, 74, 74);
  margin: 80px 20px 20px;
  padding: 10px;
  font-size: 18px;
  border-radius: 10px;
}
